</section>

<footer id="footer" class="site-footer">
	
	<div class="footer-widgets clear">
		<div class="container">
			<div class="row">

				<div class="widget-area col-5">

					<h3 class="widget-title">About Our Team</h3>

					<h5>Who Are We?</h5>
					<p>
						A team of Engineering professionals from International Universities working together for open innovation and Digital Monozukuri, is not just a project about having a passion, It's about Developing People.
					</p>
					
				</div>

				<div class="widget-area col-5">

					<h3 class="widget-title">Contact Us</h3>

					<p>
						
					</p>	

				</div>

				<div class="widget-area col-5">
					
					<h3 class="widget-title">Where Are We?</h3>

					<p>
						Gurgaon, Haryana
					</p>

				</div>
				
			</div>
		</div>
	</div>

	<div class="footer-text">
		<div class="container">
			&copy; 2015 Digital Monozukuri. Developed by <a href="http://deepak.tech">Deepak Bansal</a>.
		</div>
	</div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/script.js"></script>
</body>
</html>