<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ page.excerpt | strip_html }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/extras.css">
	<link rel="canonical" href="{{ page.url }}" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
</head>
<body>
<header id="header">
	<div class="header-top">
		<div class="container">
			<nav class="aside-navigation">
				<ul>
					<li><a href="{{ site.url }}/ieee-sessions/">IEEE Sessions</a></li>
					<li><a href="{{ site.url }}/papers/">Papers</a></li>
				</ul>
			</nav>
			<nav class="social-navigation">
				<ul>
					<li><a href="https://www.facebook.com/DigitalMonozukuri">Facebook</a></li>
					<li><a href="https://www.twitter.com/DigitalMz">Twitter</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="header-main">
		<div class="container">
			<div class="col-16 hr-bottom">
				<h1 id="site-title">
					<a href="{{ site.url }}" title="{{ site.title }}">
						<img src="{{ site.url }}/assets/images/dm.png" alt="">
					</a>
				</h1>
				<nav class="main-navigation">
					{% capture cpc %}{{ page.categories }}{% endcapture %}
					<ul>
						<li><a href="index.html">Home <span>About Us</span></a></li>
						<li{% if cpc contains 'Games' %} class="current-menu-item" {% endif %}><a href="#">Games<span>Game Development</span></a>
							<ul class="sub-menu">
								{% for page in site.pages %}
									{% if page.categories contains 'Games' %}
										<li><a href="{{ page.url }}">{{page.title}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
						<li{% if cpc contains 'Apps' %} class="current-menu-item" {% endif %}><a href="#">Apps<span>App Development</span></a>
							<ul class="sub-menu">
								{% for page in site.pages %}
									{% if page.categories contains 'Apps' %}
										<li><a href="{{ page.url }}">{{page.title}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
						<li{% if cpc contains 'Services' %} class="current-menu-item" {% endif %}><a href="#">IT Services<span>Programming</span></a>
							<ul class="sub-menu">
								{% for page in site.pages %}
									{% if page.categories contains 'Services' %}
										<li><a href="{{ page.url }}">{{page.title}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<section id="content" class="container">